# .github/workflows/publish.yml

name: Publish Python Package to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read  # for fetching code
  id-token: write # required for trusted publishing

jobs:
  build:
    name: Build Python package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: python -m pip install --upgrade build

      - name: Build distributions
        run: python -m build

      - name: Upload dist artifacts for next job
        uses: actions/upload-artifact@v4
        with:
          name: release-dist
          path: dist/

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: [build]
    environment:
      name: pypi
      url: https://pypi.org/project/homismart-client
    permissions:
      id-token: write

    steps:
      - name: Download built distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dist
          path: dist/

      - name: Publish to PyPI via trusted publishing
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
